body
{    
    background: linear-gradient(to bottom right, #00bfff, #00ff80);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
/*     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}

header
{    
    background: linear-gradient(to bottom right, #00ff80, #00bfff);
    padding: 20px;
    text-align: center;
}

h1
{    
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px #333;
    margin: 0;
}

main
{    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container
{    
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100vh;
/*     max-width: 600px;
    
    box-sizing: border-box; */
}

.message
{    
    font-weight: bold;
    margin-bottom: 10px;
}

.text-area
{    
    width: 400px;
    height: 200px;
    resize: none;
    padding: 10px;
}

.buttons
{    
    margin-top: 10px;
}

.button
{    
    background-color: #00bfff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover
{    
    background-color: #00ff80;
}

.copy-button
{    
    background-color: #00ff80;
}

.panel
{    
    margin-top: 20px;
    padding: 10px;
}

.output
{
    width: 400px;
    height: 200px;
    resize: none;
    font-weight: bold;
    margin-bottom: 10px;
    background-image: url('../images/detective.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
    color: indigo;
    font-size: 24px;
}

.popup
{    
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

footer
{
    background: linear-gradient(to bottom right, #00ff80, #00bfff);
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p
{
    color: white;
    font-size: 14px;
    margin: 0;
}

.ln-icon
{
    width: 6%;
}

@media (max-width: 768px)
{
    .text-area
    {
      width: 100%;
    }
}
  
@media (max-width: 480px)
{
    h1
    {
        font-size: 24px;
    }

    .message
    {
        font-size: 16px;
    }

    .output
    {
        font-size: 16px;
    }

    .button
    {
        font-size: 14px;
    }

    footer p
    {
        font-size: 12px;
    }
}
